@import url(https://fonts.googleapis.com/css?family=Aclonica);
@import url(https://fonts.googleapis.com/css?family=Lato);

/* Variables */
:root {
    --bg-grad-1: #7b1d00;
    --bg-grad-2: #4a0f00;
    --board-color: #ca0e0e;
    --screen-color: gray;
    --header-text: #d1a62f;
    --button-color: rgb(227, 227, 227);
    --bg-shadow: #0000004d;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Board positioning and styling */
body {
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    background: radial-gradient(circle at top, var(--bg-grad-1), var(--bg-grad-2));
}

.container {
    max-width: 60rem;
    margin: 3rem auto 0;
    background-color: var(--board-color);
    border-radius: 10px;
    box-shadow: 
        inset 2px 4px 4px rgba(0, 0, 0, 0.6), /*Top and left Shadow*/
        inset -2px 0px 4px rgba(0, 0, 0, 0.6); /*Right Shadow*/
}


/* Header Styling */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 6.5rem;
    color: var(--header-text);
}

.header .outside_text {
    font-weight: 600;
    font-style: italic;
    font-size: 1.5rem;
}

.header .inside_text {
    font-family: 'Aclonica', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    font-style: italic;
}

.outside_text,
.inside_text {
    text-shadow:
        0 1px 1px rgba(0, 0, 0, 0.2), /* Subtle shadow at the top */
        0 2px 2px rgba(0, 0, 0, 0.2),
        0 3px 3px rgba(0, 0, 0, 0.2),
        0 4px 4px rgba(0, 0, 0, 0.2),
        0 5px 5px rgba(0, 0, 0, 0.2);
}

/* Screen Styling */

.screen_lip {
    height: 39rem;
    width: 52rem;
    margin: 0 auto;
    padding: 0.3rem;
    border-radius: 10px;
    box-shadow: 
    inset 0 0 6px rgba(255, 255, 255, 0.8), /* Inner light shadow */
    inset 0 4px 8px rgba(0, 0, 0, 0.1);
}

.screen {
    height: 100%;
    background-color: var(--screen-color);
    border-radius: 10px;
    box-shadow: 
        inset 5px 6px 4px rgba(0, 0, 0, 0.6), /*Top and left Shadow*/
        inset -5px 0px 4px rgba(0, 0, 0, 0.6); /*Right Shadow*/
    padding: 0.63rem 0.63rem 0.2rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100%;
    border-radius: 10px;
}

.square {
    /* Uncomment to visualize grid */
    border: .1px solid black; 
}

.black {
    background-color: black;
}


/* Popup Styling */
.popup {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-shadow);
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.popup_container {
    width: 25rem;
    height: 10rem;
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center;
    background-color: var(--button-color);
    border-radius: 10px;
    box-shadow: inset 0 -3px 6px rgba(0,0,0,0.6);   
}

/* 
Next steps:
- add input form / slider to adjust grid dimensions
- add event listener to transition popup
- add event listener to reset grid
...
- work on color/eraser options
*/


/* Controls Styling */

.control_panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9rem;
}

.control_panel button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--button-color);
    font-family: inherit;
    font-weight: 600;
    letter-spacing: .05rem;
    box-shadow: inset 0 -3px 4px rgba(0, 0, 0, 0.5);
}

.color_btn button {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
}

.reset_btn button {
    width: 7.5rem;
    height: 3.5rem;
    border-radius: 8px;
}

.show_reset {
    opacity: 1;
    pointer-events: initial;
}